name: CICD
on:
  push:
    branches:
      - master
      - develop
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    env:
      PATH_PROJECT_PREPROD: ${{ secrets.PATH_PROJECT_PREPROD }}
      PROJECT_URL: https://github.com/Edugame-Team/edugame2-front
    steps:
      - name: executing remote script -> Preprod
        if: github.ref == 'refs/heads/develop'
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST_PREPROD }}
          username: ${{ secrets.SSH_USERNAME_PREPROD }}
          password: ${{ secrets.SSH_PASSWORD_PREPROD }}
          port: ${{ secrets.SSH_PORT_PREPROD }}
          script: |
            cd /var/www/edugame/preprod
            git clone https://github.com/Edugame-Team/edugame2-front
            cd edugame2-front
            git checkout develop
            git pull
            yarn install
            yarn web:generate
            docker-compose -p edugame_front_dev up -d --build
            docker network connect nginx_default edugame_front_dev_web_1 || true
      - name: executing remote script -> Prod
        if: github.ref == 'refs/heads/master'
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST_PROD }}
          username: ${{ secrets.SSH_USERNAME_PROD }}
          password: ${{ secrets.SSH_PASSWORD_PROD }}
          port: ${{ secrets.SSH_PORT_PROD }}
          script: |
            cd /var/www/edugame/prod
            git clone https://github.com/Edugame-Team/edugame2-front
            cd edugame2-front
            git checkout master
            git pull
            yarn install
            yarn web:generate
            docker-compose -p edugame_front_main up -d --build
            docker network connect nginx_default edugame_front_main_web_1 || true