name: CICD
on:
  push:
    branches:
      - master
      - develop
jobs:
  build:
    name: Build and deploy
    runs-on: ubuntu-latest
    env:
      REGISTRY_NAME: "https://hub.docker.com"
      REPOSITORY: edugame/front
      CONTENT_TYPE: " application/vnd.docker.distribution.manifest.v2+json"
      AUTH: ${{ secrets.DOCKER_HUB_USERNAME }}:${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    steps:
      - uses: actions/checkout@v1
        
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
              
      - name: Caching node_modules
        uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-node_modules
            
      - name: get current version
        run:  echo "EDUGAME_PROJECT_VERSION=$(node -p "require('./package.json').version")" >> $GITHUB_ENV

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Install node packages
        run: yarn install
      
      - name: Generate front web app
        run: yarn web:generate
      
      - uses: actions/upload-artifact@v2
        with:
          name: build-artifact
          path: web-build
        
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: |
            edugame/front:latest
            edugame/front:${{ env.EDUGAME_PROJECT_VERSION }}
      
      - name: Get manigest tags
        run: export MANIFEST=$(curl -u $AUTH -H "Accept:$CONTENT_TYPE" "$REGISTRY_NAME/v2/$REPOSITORY/manifests/${{ env.EDUGAME_PROJECT_VERSION }}}")
             
      - name: Deploy on staging
        if: github.ref == 'refs/heads/develop'
        run: curl -X PUT -u "$AUTH" -H "Content-Type:$CONTENT_TYPE" -d "$MANIFEST" "$REGISTRY_NAME/v2/$REPOSITORY/manifests/$TAG_NEW"
        env:
          TAG_NEW: staging
             
      - name: Deploy on production
        if: github.ref == 'refs/heads/master'
        run: curl -X PUT -u "$AUTH" -H "Content-Type:$CONTENT_TYPE" -d "$MANIFEST" "$REGISTRY_NAME/v2/$REPOSITORY/manifests/$TAG_NEW"
        env:
          TAG_NEW: production
