name: CICD
on:
  push:
    branches:
      - master
jobs:
  deploy:
    name: Deploy on production
    runs-on: ubuntu-latest
    env:
      REGISTRY_NAME: "https://hub.docker.com"
      REPOSITORY: edugame/front
      CONTENT_TYPE: " application/vnd.docker.distribution.manifest.v2+json"
      AUTH: ${{ secrets.DOCKER_HUB_USERNAME }}:${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    steps:
      - uses: actions/checkout@v1
            
      - name: Increment version
        run:  |
          git config --global user.email "github@edugame.fr"
          git config --global user.name "Github Ci/Cd"
          yarn version --patch --no-commit-hooks
          git commit --amend -m "NO_CI build release $(git log -n 1 | grep . | grep \"^ \")" -n
          git remote set-url --push origin https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git push origin HEAD:master

      - name: Get current version
        run:  echo "EDUGAME_PROJECT_VERSION=$(node -p \"require('./package.json').version\")" >> $GITHUB_ENV

      - name: Get manigest tags
        run: export MANIFEST=$(curl -u $AUTH -H "Accept:$CONTENT_TYPE" "$REGISTRY_NAME/v2/$REPOSITORY/manifests/${{ env.EDUGAME_PROJECT_VERSION }}}")
             
      - name: Deploy
        run: curl -X PUT -u "$AUTH" -H "Content-Type:$CONTENT_TYPE" -d "$MANIFEST" "$REGISTRY_NAME/v2/$REPOSITORY/manifests/$TAG_NEW"
        env:
          TAG_NEW: production
